<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>153617040200-9qcv49ip25jhae0fhcv59ae74kq1vjmh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.153617040200-9qcv49ip25jhae0fhcv59ae74kq1vjmh</string>
	<key>API_KEY</key>
	<string>AIzaSyA-GHw6Ui4XC6yqgekG0T4KuNlKvSAd42U</string>
	<key>GCM_SENDER_ID</key>
	<string>153617040200</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.united.ar4yt</string>
	<key>PROJECT_ID</key>
	<string>unitedchurchapp</string>
	<key>STORAGE_BUCKET</key>
	<string>unitedchurchapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:153617040200:ios:b3e86c32560b9f0e75a97d</string>
</dict>
</plist>